:root {
  --color-primary: #2d3136;
  --color-accent: #BF3638;
  --color-accent-darkness: #bf3638d7;
  --color-white: #ffffff;

  --color-text-form: #d7d7d7;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", "sans-serif";
  font-size: 1.8rem;
}

h2 {
  font-size: 2.4rem;
  color: #37414e;
}

.header-section {
  background: var(--color-primary);
}

.header-container {
  max-width: 1140px;
}

.header {
  padding-top: 3rem;
  margin-bottom: 5rem;
}

.message-picture {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.form {
  padding-bottom: 5rem;
}

.form-group label {
  color: var(--color-text-form);
  font-weight: 600;
}

.require-field {
  color: var(--color-accent);
}

.invalid-field {
  display: none;
  color: var(--color-accent);
}

.form-group .require-field {
  margin-top: 2px;
  margin-left: 1rem;
}

.field {
  background: var(--color-primary);
  border-radius: 5px;
  border: 1px solid #4c4f53;
  color: var(--color-text-form);
  font-size: 1.6rem;
  margin: 1rem 0;
  outline: none;
  padding: 2rem 2rem;
  transition: border 0.4s;
  white-space: nowrap;
}

.field:focus {
  border: 1px solid var(--color-accent);
}

.input-field {
  width: 80%;
  padding: 2rem 2rem;
}

.textarea-field {
  height: 100%;
  width: 100%;
  padding: 1rem 1rem;
}

.submit-btn {
  border: none;
  border-radius: 3px;
  background: var(--color-accent);
  color: var(--color-white);
  font-weight: 600;
  padding: 1rem 2rem;
  transition: background 0.3s;
}

.submit-btn:hover {
  background: var(--color-accent-darkness);
}

.form__submit {
  margin-top: 5rem;
}

.form__comment .form-group {
  height: 100%;
}

.comment-section {
  padding: 6rem 0;
  background: #f6f6f7;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  justify-content: center;
  gap: 4rem;
  margin-top: 8rem;
}

.card {
  border: none;
  background-color: unset;
  text-align: center;
}

.card:nth-child(odd) .card__header {
  background: #4b596c;
}

.card:nth-child(odd) .card__body {
  background: #e9eef3;
}

.card:nth-child(odd) .card__email {
  color: #6d736d;
}

.card:nth-child(even) .card__header {
  background: #58ad52;
}

.card:nth-child(even) .card__body {
  background: #deebde;
}

.card:nth-child(even) .card__email {
  color: #58ad52;
}

.card__header {
  padding: 1rem 0;
}

.card__body {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 6rem;
  height: 100%;
}

.card__name {
  font-weight: 600;
  color: #fff;
}

.card__email {
  color: #6d736d;
  font-weight: 600;
  margin-top: 1rem;
}

.card__message {
  color: #767582;
  margin-top: 2rem;
}

.footer {
  padding: 2rem 0;
  background: var(--color-primary);
}

@media screen and (max-width: 768px) {
  .textarea-field {
    width: 80%;
    height: 15rem;
  }

  .form__comment {
    margin-top: 3rem;
  }

  .card-container {
    grid-template-columns: repeat(3, 16rem);
    gap: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .input-field,
  .textarea-field {
    width: 100%;
  }

  .card-container {
    grid-template-columns: repeat(1, 28rem);
    gap: 4rem;
  }
}